* {
 margin: 0;
 padding: 0;
}

#container {
  width: 600px;
  margin: 50px auto;
  scroll-behavior: smooth;
}

#nav {
  font-family: 'PT Sans', sans-serif;
}

#nav a {
  color: #808080;
  text-decoration: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
}

#nav a:hover {
 color: #000000;
}

.section {
  margin: 50px 0;
}

.section h1 {
  font-family: 'Montserrat', sans-serif;
}

.section p {
  font-family: 'PT Sans', sans-serif;
}

#about {
  font-family: 'Montserrat', sans-serif;
}
