body {
  color: #f2f2f2;
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: 'PT Sans', sans-serif;
}

.nav {
  font-family: 'PT Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
 font-family: 'Montserrat', sans-serif;
 font-weight: 300;
 text-transform: uppercase;
}

.section {
  height: 100vh;
  width: 100vw;
  position: relative;
}

#about {
  font-family: 'Montserrat', sans-serif;
}
